<h1>Your Text Analysis</h1>

<h2>Number of Words:
  <%  words = @text_from_user.split(" ")%>
  <%= words.size %>
</h2>

<h2>Vowels: <%=@text_from_user.scan(/[aeoiu]/).count%>

 </h2>

<h2>Consonants: <%= @text_from_user.scan(/[bcdfghjklmnpqrstvwxyz]/).count
%></h2>

<h2>Most Common Letter: _____ used _____ times</h2>
